@font-face {
  font-family: 'PP Neue Machina';
  src: url('~assets/fonts/PPNeueMachina-Light.woff2') format('woff2'),
      url('~assets/fonts/PPNeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('~assets/fonts/PPNeueMachina-Medium.woff2') format('woff2'),
      url('~assets/fonts/PPNeueMachina-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('~assets/fonts/PPNeueMachina-Regular.woff2') format('woff2'),
      url('~assets/fonts/PPNeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('~assets/fonts/PPNeueMachina-Ultrabold.woff2') format('woff2'),
      url('~assets/fonts/PPNeueMachina-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg';
  src: url('~assets/fonts/Ogg-Italic.woff2') format('woff2'),
      url('~assets/fonts/Ogg-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg';
  src: url('~assets/fonts/Ogg-Roman.woff2') format('woff2'),
      url('~assets/fonts/Ogg-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash-Medium.woff2') format('woff2'),
      url('~assets/fonts/Trash-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash.woff2') format('woff2'),
      url('~assets/fonts/Trash.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash-Light.woff2') format('woff2'),
      url('~assets/fonts/Trash-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/Trash-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash-Bold.woff2') format('woff2'),
      url('~assets/fonts/Trash-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trash';
  src: url('~assets/fonts/Trash-Regular.woff2') format('woff2'),
      url('~assets/fonts/Trash-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Faktum Wide';
  src: url('~assets/fonts/Faktum-WideRegular.woff2') format('woff2'),
      url('~assets/fonts/Faktum-WideRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Faktum';
  src: url('~assets/fonts/Faktum-Regular.woff2') format('woff2'),
      url('~assets/fonts/Faktum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Faktum';
  src: url('~assets/fonts/Faktum-Thin.woff2') format('woff2'),
      url('~assets/fonts/Faktum-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family:'GT Flexa VAR';
  src: url('~assets/fonts/GT_Flexa_VAR.woff2') format('woff2-variations');
	font-style: normal;
  font-display: swap;
}

@font-face {
	src: url('~assets/fonts/TiltWarp-HROT_VROT.woff2') format('woff2-variations');
	font-family:'Tilt Warp';
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Swear Variable';
  src: url('~assets/fonts/SwearRomanVariable.woff2') format('woff2-variations');
  font-style: normal;
  
}

@font-face {
  font-family: 'Swear Variable';
  src: url('~assets/fonts/SwearItalicVariable.woff2') format('woff2-variations');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Swear Cilati Variable';
  src: url('~assets/fonts/SwearCilatiVariable.woff2') format('woff2-variations');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-HeavyItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-LightItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Light.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Regular.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Italic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-MediumItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap Book';
  src: url('~assets/fonts/WhyteInktrap-BookItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap Book';
  src: url('~assets/fonts/WhyteInktrap-Book.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-BlackItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Black.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Thin.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-ThinItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Bold.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-ExtraLightItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-Heavy.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-ExtraLight.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('~assets/fonts/WhyteInktrap-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/WhyteInktrap-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Grandmaster';
  src: url('~assets/fonts/Grandmaster-Thin.woff2') format('woff2'),
      url('~assets/fonts/Grandmaster-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandmaster';
  src: url('~assets/fonts/Grandmaster-Light.woff2') format('woff2'),
      url('~assets/fonts/Grandmaster-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandmaster';
  src: url('~assets/fonts/Grandmaster-Regular.woff2') format('woff2'),
      url('~assets/fonts/Grandmaster-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tusker Grotesk';
  src: url('~assets/fonts/TuskerGrotesk-Semibold.woff2') format('woff2'),
      url('~assets/fonts/TuskerGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Thin.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-ThinItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Regular.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-MediumItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-RegularItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-LightItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Medium.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-BoldItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Light.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Bold.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-Black.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('~assets/fonts/Freigeist-BlackItalic.woff2') format('woff2'),
    url('~assets/fonts/Freigeist-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-BoldItalic-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-BoldItalic-web.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-Bold-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-Bold-web.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-Medium-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-Medium-web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-MediumItalic-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-MediumItalic-web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-Regular-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-Regular-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-RegularItalic-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-RegularItalic-web.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-Light-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-Light-web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-LightItalic-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-LightItalic-web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-Ultralight-web.woff2') format('woff2'),
    url('~assets/fonts/TWKEverett-Ultralight-web.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/TWKEverett-UltralightItalic-web.woff2')
      format('woff2'),
    url('~assets/fonts/TWKEverett-UltralightItalic-web.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Neutral.woff2') format('woff2'),
    url('~assets/fonts/PolySans-Neutral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Slim.woff2') format('woff2'),
    url('~assets/fonts/PolySans-Slim.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-NeutralItalic.woff2') format('woff2'),
    url('~assets/fonts/PolySans-NeutralItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-MedianItalic.woff2') format('woff2'),
    url('~assets/fonts/PolySans-MedianItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Median.woff2') format('woff2'),
    url('~assets/fonts/PolySans-Median.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-SlimItalic.woff2') format('woff2'),
    url('~assets/fonts/PolySans-SlimItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-BulkyItalic.woff2') format('woff2'),
    url('~assets/fonts/PolySans-BulkyItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Bulky.woff2') format('woff2'),
    url('~assets/fonts/PolySans-Bulky.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  src: url('~assets/fonts/LabilGrotesk-Light.woff2') format('woff2'),
    url('~assets/fonts/LabilGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  src: url('~assets/fonts/LabilGrotesk-Regular.woff2') format('woff2'),
    url('~assets/fonts/LabilGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk';
  src: url('~assets/fonts/LabilGrotesk-Bold.woff2') format('woff2'),
    url('~assets/fonts/LabilGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Regular.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-LightItalic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Light.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Bold.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-BoldItalic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Italic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

:root {
  --color: #666;
  --color-primary: #666;
  --color-secondary: #0e2233;
  --bg: #ccc;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --footer-bg: #000;
  --footer-color: #fff;
}

.dark-mode {
  --color: #DDD !important;
  --color-primary: #DDD !important;
  --color-secondary: #DDD !important;
  --bg: #111 !important;
  --bg-secondary: #111 !important;
  --border-color: #DDD !important;
  --nextcolor: #DDD !important;
  --nextbg: #111 !important;
  --prevcolor: #DDD !important;
  --prevbg: #111 !important;
}

::selection {
  background: var(--color);
  color: var(--bg);
}

body {
  font-family: 'Freigeist', sans-serif;
  font-feature-settings: 'calt' 0, 'ss02' 1, 'ss03' 1, 'ss05' 1, 'ss06' 0;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
a {
  color: var(--color-primary);
}
hr {
  border-color: var(--color);
}
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Transitions */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.serif {
  font-family: 'Tropiline', serif;
}

h1, h2, h3, h4, h5 ,h6, .header-font {
  font-family: 'PP Neue Machina', sans-serif;
}

.text-outline{
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}