@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/9f49d38513a667c81c0e5c62c2bc963f.woff2') format('woff2'),
      url('~assets/fonts/9f49d38513a667c81c0e5c62c2bc963f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Everett';
  src: url('~assets/fonts/d3a5e1fb5250bff68eaee24e0fdd5612.woff2') format('woff2'),
      url('~assets/fonts/d3a5e1fb5250bff68eaee24e0fdd5612.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Neutral.woff2') format('woff2'),
      url('~assets/fonts/PolySans-Neutral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Slim.woff2') format('woff2'),
      url('~assets/fonts/PolySans-Slim.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-NeutralItalic.woff2') format('woff2'),
      url('~assets/fonts/PolySans-NeutralItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-MedianItalic.woff2') format('woff2'),
      url('~assets/fonts/PolySans-MedianItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Median.woff2') format('woff2'),
      url('~assets/fonts/PolySans-Median.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-SlimItalic.woff2') format('woff2'),
      url('~assets/fonts/PolySans-SlimItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-BulkyItalic.woff2') format('woff2'),
      url('~assets/fonts/PolySans-BulkyItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('~assets/fonts/PolySans-Bulky.woff2') format('woff2'),
      url('~assets/fonts/PolySans-Bulky.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil Grotesk";
  src: url("~assets/fonts/LabilGrotesk-Light.woff2") format("woff2"),
    url("~assets/fonts/LabilGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil Grotesk";
  src: url("~assets/fonts/LabilGrotesk-Regular.woff2") format("woff2"),
    url("~assets/fonts/LabilGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labil Grotesk";
  src: url("~assets/fonts/LabilGrotesk-Bold.woff2") format("woff2"),
    url("~assets/fonts/LabilGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Regular.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-LightItalic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Light.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Bold.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-BoldItalic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tropiline';
  src: url('~assets/fonts/Tropiline-Italic.woff2') format('woff2'),
    url('~assets/fonts/Tropiline-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --color: #666;
  --color-primary: #666;
  --color-secondary: #0e2233;
  --bg: #ccc;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #eee !important;
  --color-primary: #eee !important;
  --color-secondary: #fdf9f3 !important;
  --bg: #111 !important;
  --bg-secondary: #071521 !important;
  --border-color: #0d2538 !important;
}

::selection {
  background: var(--color);
  color: var(--bg);
}

body {
  font-family: "Everett", sans-serif;
  font-variant-ligatures: none;
  font-feature-settings: "ss01" 0, "ss03" 1, "ss04" 1, "ss05" 1, "ss07" 0, "zero" 1;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
a {
  color: var(--color-primary);
}

* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Transitions */

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

h1 {
  font-size: 3rem;
}

.serif {
    font-family: "Tropiline", serif;
}